/* 
LINKED TO portfolio-html.html
*/



/* body {
	font: 1rem/1.5 bricolage grotesque,-apple-system,BlinkMacSystemFont,segoe ui,Helvetica,Arial,sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 2rem;
	background: #fffdfa;
	color: #888888;
} */

*,:after,:before {
	box-sizing: border-box;
	padding: 0;
}

main {
}

@font-face {
  font-family: 'Rema';
  src: url('/fonts/RenaVF.woff2') format('woff2'),
	   url('/fonts/RenaVF.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


body {
	font: 1rem/1.5 ui-sans-serif, -apple-system, 'Helvetica Neue', 'Rema', BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.4;
	padding: 2.5rem; /* padding for a MINIMUM column view */
	color: #352923;
	background: #f5f1eb;
}

.content {
	max-width: 40ch;
	min-width: 235px; /* keeps the column even when view is mostly landscape*/
	margin: 0 auto;  /* using CSS shorthand here, margin: [top] [right] [bottom] [left]; top -> 0, right & left -> auto, botton -> inferred to be 0*/
}

.b4-header-img {
	display: block;
	  max-width: 100%;
	  height: auto;
	  margin: 0 auto 0 auto;
}

.placeholder-box {
  aspect-ratio: 2.35 / 1;
  width: 100%;            /* or set a max-width */
  background-color: color(display-p3 0.373 0.302 0.263 / 0.207); 
  border-radius: 4px;
}


header {
	display: flex;
	justify-content: space-between;
	/* margin-bottom: 1rem;
	max-height: 3rem; */
	font-weight: bolder;
}

header li, header a {
	display: inline;
}

header ul li {
	margin-left: 0.4rem;
}

ul {
	margin-bottom: auto;
}


.headline {
	display: block;
	margin: auto 0 0 0;
	
	position: relative;
	display: inline-block; /* or flex, if you’re aligning multiple items */
}

/* .headline:hover {
	transform:
	translateY(-20%) ;
} */

.header-divider {
  height: 0.125rem; 
  background: #352923;
  margin: 1rem 0;
}


p {
	margin: 0;
}

div.body-text {
	max-width: 40ch;
	min-width: 235px;
}

.body-text p {
	text-align: justify;
	text-justify: auto;
	display: inline-block;
	letter-spacing: -0.01em;
	word-spacing: -0.015em;
	font-family: ui-serif,Georgia, 'Times New Roman', serif;
}


span.half-spacer {
	display: block;
	height: 0.5rem;
}

span.full-spacer {
	display: block;
	height: 1rem;
}

span.double-spacer {
	display: block;
	height: 2rem;
}

p + p {
	margin-top: 0.5rem;
}



.socials {
	font-size: 1.05rem;letter-spacing: 0.01em;
	line-height: 1.6rem;
}

a {
  all: unset; /* resets all default styles */
  cursor: pointer;
  text-decoration: underline; /* bring back only underline */
  color: #624c41; /* your custom color */
}

.socials a::after {
  content: ' ↗';
  font-family: ui-sans-serif, arial;
}

li a {
	all: unset;
}











.name {
	display: grid;
	place-items: start;
	position: relative;
	user-select: none;
	cursor: pointer;
	box-sizing: border-box;
	z-index: 1;
}

.name:hover:not(.toggled):not(.no-hover) .long::after, .name.toggled:hover:not(.no-hover) .short::after {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 0.15em solid color(display-p3 0.835 0.812 0.788 / 0.636); /* starts invisible */
  border-radius: 2px; /* ✅ you get curves! */
  pointer-events: none; /* makes sure clicks pass through */
}


.name span {
	grid-area: 1 / 1;
	transition: transform 0.1s ease, opacity 0.0s ease, scale 0.2s ease;
	transform-origin: left center;
	position: relative;
	z-index: 2;
}

.name .short {
  opacity: 1;
  z-index: 2;
}

.name .long {
  opacity: 0;
  z-index: 1;
}



.name.toggled .short {
	opacity: 0;
}

.name.toggled .long {
	opacity: 1;
}

.name:hover:not(.toggled):not(.no-hover) .short {
  opacity: 0;
  transform: scale(1.14);
}

.name:hover:not(.toggled):not(.no-hover) .long {
  opacity: 1;
  transform: scale(1.14);
  background: color(display-p3 0.835 0.812 0.788 / 0.636);
}

.name.toggled.no-hover, .name.no-hover {
	cursor: default;
}

.name.toggled:hover:not(.no-hover) .short {
  opacity: 1;
  background: color(display-p3 0.835 0.812 0.788 / 0.636);
  transform: scale(1.14);
}

.name.toggled:hover:not(.no-hover) .long {
  opacity: 0;
  transform: scale(1.14);
}









/* .name.toggled:hover .short {
	opacity: 1;
	background: color(display-p3 0.835 0.812 0.788 / 0.636);
}

.name.toggled:hover .long {
	opacity: 0;
}

.name:hover:not(.toggled) .short {
	opacity: 0;
}

.name:hover:not(.toggled) .long {
	opacity: 1;
	background: color(display-p3 0.835 0.812 0.788 / 0.636);
} */


li.comming {
	color: color(display-p3 0.2 0.161 0.141 / 0.468);
	text-decoration-line: line-through;
	
}























